@font-face {
    font-family: 'Latin Modern Roman';
    font-weight: normal;
    src: url('http://images.clonecomputers.net/fonts/lmroman12-regular.otf') format('otf');
}

@font-face {
    font-family: 'Latin Modern Roman';
    font-weight: bold;
    src: url('http://images.clonecomputers.net/fonts/lmroman12-bold.otf') format('otf');
}

body {
    margin:0;
    padding:0;
    font-family: 'Latin Modern Roman', Serif;
    font-size: 20px;
    line-height: 1.5em;
    color: #523A10;
}

#header {
    background-color: #8CB2A6;
    height: 80px;
}

#header h1 {
    margin: 0;
    padding-top: 15px;
    font-size: 30px;
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

#left {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 50%;
    background-color: #7CA6D9;
}
     
#right {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 50%;
    float: right;
    background-color: #8ABFED;
}

#footer {
    font-size: 16px;
    clear: left;
    width: 100%;
    background-color: #8CB2A6;
    text-align: center;
    padding: 4px 0;
}

#content {
    overflow: hidden;
    text-align: center;
}

textarea {
    font-size: 18px;
    text-align: left;
    font-family: monospace, "Courier New";
    color: #523A10;
    width: 70%;
}

.innertube {
    margin: 15px; /* Padding for content */
    margin-top: 0;
}

h2 {
    font-size: 27px;
}
