@font-face {
    font-family: 'Latin Modern Roman';
    font-weight: normal;
    src: url('http://images.clonecomputers.net/fonts/lmroman12-regular.otf') format('otf');
}

@font-face {
    font-family: 'Latin Modern Roman';
    font-weight: bold;
    src: url('http://images.clonecomputers.net/fonts/lmroman12-bold.otf') format('otf');
}

body {
    margin:0;
    padding:0;
    font-family: 'Latin Modern Roman', Serif;
    font-size: 20px;
    line-height: 1.5em;
    color: #523A10;
}

#header {
    background-color: #8CB2A6;
    height: 80px;
}

#header h1 {
    margin: 0;
    padding-top: 15px;
    font-size: 30px;
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

#left {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 50%;
    background-color: #7CA6D9;
}
     
#right {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 50%;
    float: right;
    background-color: #8ABFED;
}

#footer {
    font-size: 16px;
    clear: left;
    width: 100%;
    background-color: #8CB2A6;
    text-align: center;
    padding: 4px 0;
}

#content {
    overflow: hidden;
    text-align: center;
}

textarea {
    font-size: 18px;
    text-align: left;
    font-family: monospace, "Courier New";
    color: #523A10;
    background-color: #FCF9F2;
    width: 70%;
}

#dropdown {
    margin: auto;
    border: 1px solid #807460;
    width: 110px;
    border-radius: 3px;
    overflow: hidden;
    background: #FCF9F2 url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}

#dropdown select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    font-family: 'Latin Modern Roman';
    font-size: 14px;
    color: #523A10;
}

#dropdown select:focus {
    outline: none;
}

#submit {
    margin: auto;
    border: 1px solid #807460;
    width: 60px;
    height: 25px;
    border-radius: 3px;
    overflow: hidden;
    background: #FCF9F2 no-repeat 90% 50%;
    font-family: 'Latin Modern Roman';
    font-size: 13px;
}

#submit:active {
    background-color: #F2EFE9;
}

.innertube {
    margin: 15px;
    margin-top: 0;
}

h2 {
    font-size: 27px;
}
